body {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #f6f5ef;
  padding: 20px;

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 16px;
    padding-left: 100px;
  }

  .navList {
    row-gap: 20px;
    text-align: right;
    list-style: none;

    a {
      color: #333333;
      font-style: normal;
      font-family: Arial, georgia;
      font-size: 13px;
      padding: 8px 12px;
      margin-right: 100px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
