.MenuBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 3px;
  vertical-align: baseline;
  background-color: #f4f4f2;

  .MenuTitle {
    font-size: 20px;
    font-weight: bold;
  }

  .MenuIcon {
    width: 45px;
    margin-left: 15px;
  }

  .MenuExplain {
    margin-left: 3px;
    font-size: 15px;
  }
}
