.nav {
  display: flex;
  justify-content: space-between;
  background: #f6f5ef;

  .logo-wrap {
    .logo {
      width: 300px;
      margin-left: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .navWrap {
    .navMenu {
      .navList {
        width: 100%;
        padding-right: 250px;
        text-align: right;
        margin-top: 50px;

        a {
          color: #333333;
          font-size: 20px;
          font-weight: bold;
          font-family: Arial, georgia;
          margin-right: 30px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
